
@import url('https://fonts.googleapis.com/css2?family=Jakarta+Sans:wght@400;700&display=swap');

h1 {
    font-family: 'Jakarta Sans', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}
h1{
    text-align: center;
    margin: 20px 0;
}
 .navbar h1{
    color: #000000;
    font-size: 24px;
 }
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 20px;
    z-index: 1000;
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    color: #000000;
    display: flex;  
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
    border-radius: 5px; 
    align-items: center;
    justify-content: space-between;     
}
.space{
    height: 60px;
    margin: 10px;
}
.navbar ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
.navbar ul li{
    display: inline;
}
.navbar a{
    color: #000000;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s;
    border-radius: 5px;
    
}
.navbar a:hover{
    color:white;
    background-color: #2EBB77;
}

.content h2 {
    font-family: 'Jakarta Sans', sans-serif;
    color: black;
    font-size: 2rem;
}

 p {
    font-family: 'Jakarta Sans', sans-serif;
    color: rgb(110, 110, 110);
    font-size: 14px;
    margin: 20px 0;
}       

.shop_now{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #2EBB77;
    color: white;
    border:none;
    padding: 10px;
    border-radius: 5px;
}

.shop_now:hover{
    background-color: #1E8B5D;
    cursor: pointer;
    transition: background-color 0.3s;
}
.shop_now a{
    background-color: #2EBB77;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap-reverse;
}

.content_left{
 padding: 10px;
    flex: 1;
    max-width: 300px; /* Adjusted for better responsiveness */
    margin-right: 20px; /* Space between left and right content */
}
.content_left h2{
    font-size: 2rem;
    color: #000000;
    text-align: center;
    margin: 20px 0;
}
.content_right img{
    max-width: 300px;
    min-width: 50px;
    max-height: 300px;
    border-radius: 5px; /* Optional: Add some border radius for aesthetics */       
}
.social_buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    gap: 10px; /* Space between buttons */
}
.social_button{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;

}
.facebook{
    background-color: #3b5998;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    width: 150px;  
    height: 50px;
    display: flex ;
    flex-direction: row ;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.instagram{
    height: 50px;
    background-color: #E1306C;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    width: 150px;  
    display: flex ;
    flex-direction: row ;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.whatsapp{
    background-color: #25D366;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    height: 50px;
    width: 150px;  
    display: flex ;
    flex-direction: row ;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.tiktok{
    background-color: #000000;
    height: 50px;
    color: white;
    padding: 10px 20px;
    border-radius: 5px; 
    width: 150px;  
    display: flex ;
    flex-direction: row ;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.imapSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    margin-top: 20px;
}
.mobile-frame {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 300px;
    height: 450px;
    margin:20px;
    border: 2px solid #000000;
    border-radius: 20px;
    padding: 10px;
    background-color: #000000;
}
.mobile-frame::before {
    content: '';
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 20px;
    background-color: #000;
    border-radius: 5px;
}
.iframe-map {
    width: 100%;
    height: 500px;
    border: none;
    border-radius: 10px;
}

h2 {
    width: 100%;
    align-items: center;
}

.galleryText {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px; 
    max-width: 300px;
    color: #000000;
}

.iframe-map{
    max-width: 1200px;
    height: 500px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}

.mapSection{
    display: flex;
    justify-content: center;
    flex-direction: column;   
    align-items: center;
    flex-wrap: wrap-reverse;
    margin-top: 20px;
}

.mapSection h2{
    font-size: 2rem;
    color: #000000;
    text-align: center;
    margin: 20px 0;

}